body {
    background-color: #111111;
}

h1{
    color: white;
}

.page-title {
    margin-left: 20px;
}

.bold-text {
    font-weight: 700;
}

.current-weather-container {
    background-color: #5bbcfd;
    border: solid 1px white;
    color: white;
    margin: 0px 15px 0px 15px;  
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
    margin-bottom: -10px; 
}

.container-body {
    display: flex;
}

.temp-cloud-container {
    display: flex;
}

.temps-container {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.skyCond {
    width: 75px;
    margin-right: 10px;
    margin-left: 10px;
}

.cur-temp-container {
    font-size: 60px;
    margin-bottom: -30px;
}

.wind-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wind {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-bottom: -10px;
}

.upper-winds-container {
    background-color: #5bbcfd ;
    border: solid 1px white;
    color: white;
    margin: 15px;
}

.upper-winds-header {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    margin-bottom: -5px;
}

.line-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px
}

.forecast-upper-winds-container {
    background-color: #5bbcfd ;
    border: solid 1px white;
    color: white;
    margin: 15px;
}

.forecast-upper-winds-header {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    margin-bottom: -5px;
}

.hr1 {
    border: none;
    height: 3px;
    background-color: white;
}

.hr2 {
    margin-top: -5px;
    height: 2px;
    background-color: white;
    
}

@media (max-width: 575.9px) {
    .current-weather-container {
    background-color: #5bbcfd;
    border: solid 1px white;
    color: white;
    margin: 0px 0px 0px 0px;  
    }

    .upper-winds-container {
    background-color: #5bbcfd ;
    border: solid 1px white;
    color: white;
    margin: 20px 0px 0px 0px;
    }   

    .forecast-upper-winds-container {
    background-color: #5bbcfd ;
    border: solid 1px white;
    color: white;
    margin: 20px 0px 0px 0px;
    }
    
}